@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body,
#root {
  height: 100%;
}

html {
  scroll-behavior: smooth;
}

.background-hero,
.background-quest {
  background-size: cover;
  background-position: center;
  position: relative;
}

.background-hero {
  height: 100%;
  background-image: url("background/Rolex_Main_BG.jpg");
}

.background-quest {
  height: 90%;
  background-image: url("background/Forest_BG.webp");
}

.background-hero::after,
.background-quest::after {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.5);
  inset: 0;
  z-index: 5;
}

.background-quest:hover > div > button {
  @apply bg-primary-100 text-secondary-400;
}

.green-scroll::-webkit-scrollbar {
  @apply h-[0.4rem] bg-primary-400 cursor-pointer pr-48;
}

.green-scroll::-webkit-scrollbar-thumb {
  @apply bg-secondary-400 rounded-full;
}

.with-icons {
  @apply flex items-center gap-1;
}

footer :is(p, li, .with-icons):not(.footer-title):hover {
  @apply text-accent-400 transition-colors duration-500 cursor-pointer;
}

footer ul {
  @apply flex flex-col gap-1;
}

.footer-title {
  @apply pb-0 relative mb-2;
}

.footer-title::after {
  content: "";
  @apply absolute top-[98%] bottom-0 left-0 right-0 bg-primary-600;
}

/* Toggle Switch */
.switch {
  all: unset;
  height: 1rem;
  outline: 1px solid white;
  width: 2rem;
  border-radius: 100vw;
  position: relative;
}
.switch:hover + p {
  @apply text-accent-400;
}
.switch::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 2px;
  transform: translateY(-50%);
  height: 0.8rem;
  width: 45%;
  border-radius: 50%;
  @apply bg-primary-300;
  transition: 300ms ease-in-out;
}
.switch:checked::after {
  left: 50%;
}
